* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../img/bg.png");
}

ul{
  list-style-type: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;

  position: relative;


}

header {
  background-color:white;

}


.float-l {
 float: left;
}

.main {
  margin:20px auto;
}


.box1 {
  width: 25%;
  height: 300px;
  background-color: pink;

}


.box2 {
  width: 50%;
  height: 500px;
  padding: 0 10px;
}



.box3 {
  width: 25%;
  height: 500px;
  background-color: #fff;

}


footer {
  height: 100px;
  background-color: green;
}

.sidebar-container .sidebar-box:first-child {
  height: 250px;
  background-color: orange;


}

.sidebar-container .sidebar-box:nth-child(2) {
  height: 250px;
  padding-top: 10px;


}

.content {
  height: 100%;
  background-color:brown;
}

.header-bg-container{
  padding: 15px;

}
.header-bg{
  height: 400px;
  background-image: url("../img/logo-bg.png");
  background-size: cover;
  text-align: center;
}

.logo{
  width: 40%;
}

.logo-text{
  font-size: 30px;
  color: white;
}

.nav-bar{
  background-color: #5B5B5B;
  height: 50px;
  text-align: center;
}

.nav-bar > ul > li {
  display: inline-block;
  margin-right: 10px;

}

.nav-bar > ul{
  line-height: 50px;
  color:white;
}
